main {
  width: 97%;
  margin-left: 2vw;
  transition: width 0.2s;
}

.sidebar-on {
  width: 77%;
}

main > h1 {
  color: white;
}

main > div {
  display: flex;
  height: 80vh;
  flex-shrink: 0;
  justify-content: flex-start;
  overflow-x: hidden;
}

main > div:hover {
  overflow-x: scroll;
}

main > div::-webkit-scrollbar {
  height: 8px;
}

main > div::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgb(102, 102, 102);
}
